body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    background-color: #E5E5E5;
}


:root{
    --main-text-color: #212121;
    --second-text-color: #FFFFFF;
    --accent-cl: #2196F3;
}


.navigate li,
.contacts li,
.buttons li,
.team li,
.whatwedo li,
.principles li{
    list-style-type: none;
}


.portfolio li{
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
}

.variant{
    font-weight: 400;
}

.herohead{
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;

}

.makeorder{
    color: var(--second-text-color);
    height: 30px;
    width: 136px;
    left: 732px;
    top: 440px;
    border-radius: nullpx;
    background: var(--accent-cl);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    text-decoration: none;
}



.team{
    background: rgba(245, 244, 250, 1);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}
.prof {
    font-weight: 400;

}

.web{
    color: var(--accent-cl);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
}


.studio{
    color: rgba(33,33,33,1);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
 }


 .studiof{
    color: var(--second-text-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
 }

 .buttons{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    
 }


.hero{
    font-family: "Roboto", sans-serif;
    background: rgba(47, 48, 58, 1);
    color: var(--second-text-color);
}


.port-main{
    font-family: "Roboto", sans-serif;
    background: var(--second-text-color);
}


.footer{
    font-family: "Roboto", sans-serif;
    background: rgba(47, 48, 58, 1);
}


.footer a,
.footer address{
    color: var(--second-text-color)
}


.a-link {
    color: rgba(33,33,33,1);
    text-decoration: none;    
}

.a-link:hover, 
.a-link:focus,
.way:hover,
.way:focus{
  color: var(--accent-cl);
}

.nav-list {
    background: var(--second-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}



