html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

:root{
    --main-text-color: #212121;
    --second-text-color: #FFFFFF;
    --accent-cl: #2196F3;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    background-color: #E5E5E5;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.navi {
    width: 1600px;
    height: 80px;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    background: var(--second-text-color);
}

.logo{
    text-decoration: none;
    color: var(--main-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 31px;
    margin-left: 215px;
    margin-top: 24px;    
}

.web{
    color: var(--accent-cl);
}

.navigate{
    display: flex;
    list-style-type: none;
    margin-top: 32px;
    margin-left: 93px;
    
}
.navigate-link{
    text-decoration: none;
    padding-right: 50px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--main-text-color);

}

.navigate-link:hover,
.navigate-link:focus{
    color: var(--accent-cl);
}

.paddi{
    padding-right: 331px;
}


.hero{
    width: 1600px;
    height: 600px;
    background-color:#2F303A;
}

.herohead{
    height: 120px;
    width: 696px;
    left: 452px;
    top: 280px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--second-text-color);
    padding-top: 200px;
    margin-left: 452px;  
}

.makeorder{
    height: 50px;
    width: 200px;
    left: 700px;
    top: 430px;
    border-radius: 4px;

    position: absolute;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    text-decoration: none;
    color: var(--second-text-color);
    padding-top: 10px;

}
.makeorder:hover,
.makeorder:focus{
    background-color: var(--second-text-color);
    color: var(--accent-cl);
}

.principles{

    display: block;
    width: 1600px;
    
    display: flex;
   
    left: 0px;
    top: 0px;
    background: var(--second-text-color);
}

.whatwedo{
    box-sizing: border-box;
    
    display: block;
    width: 1600px;
    
    display: flex;
   
    left: 0px;
    top: 0px;
    background: var(--second-text-color);
}

.team{

    box-sizing: border-box;
    
    display: block;
    width: 1600px;
    
    display: flex;
   
    left: 0px;
    top: 0px;
    background: var(--second-text-color);
}