html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    }

:root{
    --main-text-color: #212121;
    --second-text-color: #FFFFFF;
    --accent-cl: #2196F3;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    background-color: #E5E5E5;
    margin-right: auto;
    margin-right: auto;
    align-items: center;

}

img{
    display: block;
    width: 100%;
    height: auto;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
   
}
.content-box{
    margin-left: 215px;
    margin-right: 215px;
}

.header{

    
    height: 80px;

    background-color: #FFFFFF;
    padding-top: 24px;
}

.header-container{
    display: inline-flex;
    align-items: center;
   
       
}

.header .logo{
    margin-right: 93px;
    
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    
    color: var(--main-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 31px;
    
    align-items: center;
    
    
}

.web{
    color: var(--accent-cl);
}

.link{
    
    text-decoration: none;
    
}

.navi,
.menu,
.mail,
.phone{

    display: inline-flex; 
    align-items: center;
    
   
}

.menu-item:not(:last-child){
    margin-right: 50px;
}
.menu-item:nth-child(3){
    margin-right: 305px;
}

.menu-item:hover .envelope,
.menu-item:hover .cell,
.menu-item:focus .envelope,
.menu-item:focus .cell
{
    color: var(--accent-cl);
    fill: var(--accent-cl);
}

.menu-link{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(33, 33, 33, 1);
}
.mailtel{
    color: rgba(117, 117, 117, 1);
}



.envelope{
    
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: rgba(117, 117, 117, 1);
}
.cell{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: rgba(117, 117, 117, 1);
}



.menu-link:hover,
.menu-link:focus{
    color: var(--accent-cl);
}


.hero{
   display: block;
   height: 600px;
   background-color: rgba(47, 48, 58, 1);
   background-image: linear-gradient(to left top, 
    rgba(47, 48, 58, 0.2),
     rgba(47, 48, 58, 0.8)
   ), url(../images/hero.jpg) ;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   
}

.herohead{
    
   display: inline-block;
   margin-left: 237px;
   margin-top: 200px;
   padding-bottom: 30px;
   text-align: center;

    
    width: 696px;
   

    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: rgba(255, 255, 255, 1);
   
}

.makeorder{
    display: flex;
    margin-left: 500px;
    
    
    align-items: center;
    
    text-decoration: none;

    color: var(--second-text-color);
    background-color: var(--accent-cl);
    height: 50px;
    width: 200px;
    border-radius: nullpx;
    padding-left: 32px;
    padding-right: 32px; 
   
}

.makeorder:hover,
.makeorder:focus{
    background-color: var(--second-text-color);
    color: var(--accent-cl);
}

.grid{
    display: flex;
    flex-wrap: wrap;
}


.about{ 

    padding-top: 94px;
    padding-bottom: 94px;
    align-items: center;   
    background-color: var(--second-text-color);
    margin: 0;
    padding: 0;
    
}


.image-icon{
    max-width: 270px;
    max-height: 120px;
   
}



.h2-head{

    text-align: center;
    align-items: center;
    padding-bottom: 50px;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-text-color);
    margin-left: auto;
    margin-right: auto;

    
}

.head-about{
    display: none;
}


.principles-item{
    flex-basis: calc(100%/4); 
}

.principles-item:last-child{
    padding-right: 0px;
}


.principles{
    border: 1px solid white;
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
   
    align-items: center;
    justify-content: space-between;
}

.principles-item{
    flex-basis: calc(100%/4);
    padding-right: 30px;
}

.principles-h{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(33, 33, 33, 1);


}

.principles-p{
    margin-top: 10px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(117, 117, 117, 1);
    align-items: center;
}





.whatwedo{
    padding-left: 15px;
    padding-right: 15px;
      
    padding-bottom: 94px;
    justify-content: space-between; 
    display: flex;
    align-items: center;  

}
.whatwedo-item {
        flex-basis: calc(100%/3 - 30px);
      
}

.whatwedo:nth-last-child(3){
    padding-right: 0px;

}



.team{


    height: 648px;
    
    background-color: #F5F4FA;   
    padding-top: 94px;
    padding-bottom: 94px;
    justify-content: space-evenly;
    align-items: center;
  
}
.team-item{

    width: 270px;
   
    flex-basis: calc(100%/4);
  
    
}

.team-card{
    background: rgba(255, 255, 255, 1);

    
    
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}



.tm{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(33, 33, 33, 1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;



}

.prof{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(117, 117, 117, 1);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 17px;


}
.together{
    display: flex;  
    justify-content: space-between;
    
   
}
.together-item{
    text-decoration: none;
    list-style: none;
    
}

.team-card:last-child{
    margin-right: 0;
}

.portfolio{
    height: 1542px;
    background-color: #FFFFFF;
}
.bord{
    border-top: 1px solid rgba(236, 236, 236, 1)
}

.figure{
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    border: #EEEEEE solid 1px;   
}

.client{
    background-color: var(--second-text-color);
  }


.clients-h{
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;

}

.clients-list{
    display: flex;
    list-style: none;  
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    
}

.client-item{

     
   
    margin-bottom: 94px;
    margin-right: 30px;
    align-items: center;
    height: 90px;
    

}

.client-item:last-child{
    margin-right: 0;
}

.client-card{
    border: 1px solid #AFB1B8;
    box-sizing: border-box;

    border-radius: 4px;
    border-color: rgba(175, 177, 184, 1);
    width: 170px;
    height: 90px;
    
        
}

.client-item:hover,
.client-card:hover{
    fill: var(--accent-cl);
    border-color: var(--accent-cl);
}
 


.footer{
    
    height: 252px;
    background-color: rgba(47, 48, 58, 1);

}

.nfooter{
    display: flex;
}

.footer-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;

}
.address{
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;



}
.studiof{
    color: var(--second-text-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.footer .container{
    display: flex;
    align-items: top;
}
.footer-container{
    
   
    padding-top: 60px;
    margin-bottom: 8px;
}

.socials{
    text-align: left;
    
    padding-top: 60px;
    margin-left: 70px;
    padding-bottom: 20px;
    
   
}
.social-links{
    margin-top: 20px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.client-list{
    display: flex;
   
}

.client-item{
    fill: rgba(175, 177, 184, 1);
    
}

.client-item:hover,
.client-item:focus{
    fill: var(--accent-cl);
}



.join {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    
      color: rgba(255, 255, 255, 1)
}

.icon-container{
    display: inline-flex;
    width: 44px;
    height: 44px;
    align-items: center;
  
    background-image: url(../images/svg/ellipse.svg);
    margin-right: 10px;
    border-radius: 50px;
   
}


.icon{

    width: 20px;
    height: 20px;
    margin-left: 12px;
    margin-top: 9px;
    fill: var(--second-text-color);
    max-width: 20px;
    max-height: 20px;
    background-position: 50% 50%;
    
   
}
.icon-container:hover,
.icon-container:focus{
    background-color: var(--accent-cl);
}
.icon:hover,
.icon:focus{
    background-color: var(--accent-cl);
}


.social-links-tc{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 32px;
    padding-right: 32px;
  

}
.icon-tc{

    width: 20px;
    height: 20px;
    margin-left: 12px;
    margin-top: 9px;
    fill: rgba(175, 177, 184, 1);
 
    
   
}
.icon-container-tc{
    display: inline-flex;
    width: 44px;
    height: 44px;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 50%;
  
    background-color: inherit ;
   
    border-radius: 50px;
   
}




.icon-container-tc:hover,
.icon-container-tc:focus{
    background-color: var(--accent-cl);
    fill: var(--second-text-color);
   
}
   
.icon-tc:hover,
.icon-tc:focus{
    background-color: var(--accent-cl);
     fill: var(--second-text-color);
   
}

.way{
    color: var(--second-text-color);
    font-style: normal;

    margin-top: 20px;
   
}

.but{
  
  
    margin-left: auto;
    margin-right: auto;
    
    
}
.buttons{

    
    list-style: none;
    background-color: FFFFFF;
    padding-top: 94px;  
    margin-bottom: 50px;
    cursor: pointer;
    font-weight: 500;
    font-family: Roboto;
   
   
}
.buttons-list{
    display: flex;  

}

.buttons-item{
    color:rgba(33, 33, 33, 1);
    background-color: rgba(245, 244, 250, 1);
    height: 38px;
    width: auto;    
    top: 174px;
    border-radius: 4px;
    padding: 6px 22px;
    margin-right: 8px;
    text-decoration: none;
    list-style: none;
   
}
.buttons-item:nth-child(1){
    margin-left: 280px;
}

.buttons-item:hover,
.buttons-item:focus{
    color: var(--second-text-color);
    background-color: var(--accent-cl);
}


.grid{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-top: -15px;
}

.gallery-list{
   
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 94px;
    
}

.gallery-item{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 8px;
    
    flex-basis: calc(100%/3 - 20px);
    list-style-type: none;
    display: block;
    border: 1px solid rgba(238, 238, 238, 1)
}
.gallery-item:nth-child(3n){
    padding-right: 0;
}

.gallery-item:hover{
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}



.portfolio h1{
    display: none;
}

.gallery-item h2{
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
margin-left: 24px;
margin-top: 20px;
margin-bottom: 4px;

color: rgba(33, 33, 33, 1);

}

.gallery-item h3{
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
margin-left: 24px;
margin-bottom: 20px;
color: rgba(117, 117, 117, 1);



}


