.actions {
  display: block;
  position: relative;
  overflow: hidden;
}

.item-actions {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $second-text-color;
  padding: 0;
  margin: 0;
  padding-top: 92px;
  padding-bottom: 35px;
  padding-left: 31px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  /* opacity: 0; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .item-actions,
  &:focus .item-actions {
    opacity: 1;

    transform: translateY(0);
  }
}
