.project-thumb p {
  position: absolute;
  margin: 0;
  font-size: 18px;
  padding: 24px 24px;
  line-height: 1.56;
  color: $second-text-color;
  z-index: 2;
  place-self: center;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms ease;
}

.project-thumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms ease;
}
