.about {
  padding-top: 94px;
  padding-bottom: 94px;
  align-items: center;
  background-color: $second-text-color;
  margin: 0;
  padding: 0;
}

.image-icon {
  max-width: 270px;
  max-height: 120px;
}

.h2-head {
  text-align: center;
  align-items: center;
  padding-bottom: 50px;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $main-text-color;
  margin-left: auto;
  margin-right: auto;
}

.head-about {
  display: none;
}

.is-hidden {
  display: none;
}
